.home1fondo {
    background-image: url(morat.jpeg);
    background-size: cover;
}

.header1fondo {
    background-color: black;
    font-style: italic ;
    color: white;
    text-align: center;
    font-size: x-large;

}

a:link {
    color: white;


}

a:hover {
    color: rgb(211, 19, 150);

}

a:active {
    color: orange;
}

a:visited {

    color: antiquewhite;

}
.morat {
    font-size: xx-large; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: center;
}

.tribute {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
}